<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flutteractivitykit">

    <!-- Permission required for posting notifications on Android 13+ (API 33+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <receiver
            android:name=".ActivityActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.flutteractivitykit.ACTION_CLICK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".TimerExpirationReceiver"
            android:exported="false" />
    </application>
</manifest>
